{% extends "Template.html" %}
{% block content %}

<!-- BLOCK BEGINS HERE -->

    <h1 class="text-h2-lightblue">Floating Point Numbers Representation</h1>

	<form action="/add_feedback" method="POST">
	  <div class="form-group">
	    <label for="name">Name</label>
	    <input type="name" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter Name" name="name">
	    <small id="emailHelp" class="form-text text-muted">We'll never share your details with anyone else.</small>
	  </div>
	  <div class="form-group">
		 <label for="feedback">Feedback</label>
		 <textarea class="form-control" id="feedback" placeholder="Enter Feedback" rows="3" name="feedback"></textarea>
	  </div>
	 
	  <input class="btn btn-primary" type="submit" id="addFeedback">Submit</input>
	</form>

		<a href="http://feedback.vlabs.ac.in/">Feedback</a>

<script>
	document.querySelector('#addFeedback').addEventListener('click',e=>{
		// e.preventDefault();
		
	})
</script>
{% endblock %}
